[submodule "assignments/CRYPTO/code/pydes"]
	path = assignments/CRYPTO/code/pydes
	url = https://github.com/amar-laksh/pydes
[submodule "assignments/CRYPTO/code/ex1/pydes"]
	path = assignments/CRYPTO/code/ex1/pydes
	url = https://github.com/amar-laksh/pydes
[submodule "assignments/CRYPTO/code/ex2/AES"]
	path = assignments/CRYPTO/code/ex2/AES
	url = https://github.com/amar-laksh/Python-AES
[submodule "assignments/CRYPTO/code/ex2/Python-AES"]
	path = assignments/CRYPTO/code/ex2/Python-AES
	url = https://github.com/pcaro90/Python-AES/
[submodule "assignments/NS/vrnetlab"]
	path = assignments/NS/vrnetlab
	url = https://github.com/plajjan/vrnetlab
